{
    "singleQuote": true,
    "semi": true,
    "useTabs": false,
    "tabWidth": 4,
    "endOfLine": "lf",
    "trailingComma": "all",
    "svelteSortOrder": "scripts-markup-styles",
    "printWidth": 100
}
